.form-box {
  position: relative;
  width: 30%;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
}

.form-box button {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  color: white;
  background-color: rgb(154, 174, 4);
}

.form-footer{
  position: relative;
  height: 100px;
}

.form-footer a{
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translate(-50%);
}

.form-footer a:hover {
  cursor: pointer;
  color: rgb(154, 174, 4);
}

