form {
  width: 25%;
  margin: auto;
  padding: 10px;
}

.form-box button {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  color: white;
  background-color: rgb(154, 174, 4);
}

.form-footer{
  position: relative;
  height: 100px;
}

.form-footer a{
  position: relative;
  left: -10px;
  top: 50px;
}
