<nav class="navbar navbar-expand-lg">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" *ngIf="!isLogged" [routerLink]="['/signup']" routerLinkActive="router-link-active">Signup</a>
        <a class="nav-link" *ngIf="isLogged" (click)="onSignOut()">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!isLogged" [routerLink]="['/signin']" routerLinkActive="router-link-active">Signin</a>
        <a class="nav-link" *ngIf="isLogged">More information</a>
      </li>
    </ul>
</nav>
