<div class="form-box">
  <form class="form-signin" [formGroup]="signupForm" (ngSubmit)="onSignUp(form)" #form="ngForm">
    <img class="icon" src="./assets/icons8-accede-redondeado-derecho-96.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <input type="email" class="form-control email" formControlName="user" placeholder="Email" autofocus="">
    <input type="name" class="form-control password"  formControlName="password" placeholder="Password">
    <input type="password" class="form-control repeat-password"  formControlName="secondPassword" placeholder="Repeat password">
    <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!form.valid">Sign in</button>
  </form>
</div>
