.form-box {
  position: relative;
  width: 30%;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
}

.form-box button {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.btn {
  color: white;
  background-color: rgb(154, 174, 4);
}
