<mat-progress-bar mode="indeterminate" *ngIf="dataReceived"></mat-progress-bar>
<form [formGroup]="signupForm" (ngSubmit)="onSignUp(form)" #form="ngForm">
  <div class="form-box">
    <div class="form-group">
      <label>User</label>
      <input type="email" class="form-control" formControlName="user" placeholder="User">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password" placeholder="Password">
    </div>
    <div class="form-group">
      <label>Repeat Password</label>
      <input type="password" class="form-control" formControlName="secondPassword" #secondPassword placeholder="Password">
    </div>
    <button type="submit" [disabled]="!form.valid" class="btn">Sign up</button>
  </div>
</form>
